/*@import '~bootstrap/dist/css/bootstrap.css';*/

/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Rubik'); */

@font-face{
  font-family: Lato;
  src: url('./font/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face{
  font-family: Roboto;
  src: url('./font/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face{
  font-family: Rubik;
  src: url('./font/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
}

select{
  color:black;
}

body{
  min-width:1200px;
}

/*Font*/
html, body {
  font-family: 'Roboto', sans-serif;
}

/* circle buttons shadow */
.hoverShadow:hover {
  box-shadow: 0px 0px 1px 10px lightgrey;
  background-color: lightgrey;
  cursor: pointer;
  padding-left:-1rem;
  background-position: 10rem 10rem;
}

.hoverShadowYellow:hover {
  box-shadow: 0px 0px 1px 10px #fc8403;
  background-color: #fc8403;
}

.hoverPuc:hover {
  box-shadow: 0px 0px 1px 13px lightgrey;
  background-color: lightgrey;
  cursor: pointer;
}

/*disable table hover effects*/


/*textbox effects*/
.custom-textbox{
    font: 15px/24px 'Roboto', sans-serif;
    color: #000000; width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    overflow: visible;
    text-align: left;
    background-color: #f1f1f1;
    border-color: black;
    border-width:1.5px;
    width: 100%;
    padding-left:0.7rem;
  }

.effect-1{
    border-radius: 4px;
    padding-bottom: 1.5px;
    padding-top: 9px;
}

.effect-1 ~ .focus-border{
    position: absolute;
    bottom: 0;
    left: 1.1em;
    width: 0;
    height: 1.5px;
    background-color: #F5A847;
    border-radius: 0px;
    transition: 0.4s;
}

.effect-1:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;
}


.effect-1 ~ .focus-title{
    position: absolute;
    top: 0.7rem;
    left: 1.556rem;
    font-size: 13px;
    color: black;
    transition: bottom .2s;
    background-color: #f1f1f1;
}

.effect-1:focus ~ .focus-title,
.effect-1[target=true] ~ .focus-title{
    top: -0.6rem;
    left: 1.5rem;
    font-size: 13px;
    transition: 0.2s;
    padding-left: 5px;
    padding-right: 5px;
}

/*card zoom in effects*/
.flash_hover figure {
    position: relative;
}
.flash_hover figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.flash_hover figure:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}
.pop_hover figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.pop_hover figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*diagonal background*/
.diagonal{
    background-image: -webkit-linear-gradient(160deg, #F5A847 52%, #4f2684 18%);
    min-height: 400px;
  }

/*override bootstrap input class*/

.input-group-text{ /* logo sa tabi ng textbox*/

    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-radius: 3px;
    border-color: grey;
    background-color: #f1f1f1;

}

.input-group{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-radius: 0px;
  border-color: grey;
  background-color: #f1f1f1;

}

.inputCustom{
  background-color: white;
  border-color: grey;
  color: black;
  opacity:'0.9';
}

.inputCustom[disabled=true]{
  background-color: white;
  border-color: grey;
  color: black;
  opacity:'0.9';
}

.custom-select{
  height:2.3rem;
}

.b-form-datepicker{
  height:2.3rem !important;
}


.textInput{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-radius: 0px;
    border-color: grey;
    background-color: #f1f1f1;
}

/* DROPDOWN INPUT STYLING*/
.dropdownInput button:first-child{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-radius: 0px;
    border-color: grey;
    background-color: white;
}

/*REMOVE OUTLINE/SHADOW FROM DROPDOWN BUTTON ICONS*/
.dropdown-toggle-no-caret{
  outline: none !important;
  box-shadow: none !important;
  outline-color: transparent !important;
}

/*LOGIN INPUT*/
.input-group[target], .dropdown-toggle[target]{
    border-color: orange;
}



  /* .sidenav a:hover {
    color: Black;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */


/* test */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 85%; /* Full width (cover the whole page) */
    height: 95%; /* Full height (cover the whole page) */
    top: 47.6px;
    left: 290px;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }


.modal .modal-custom {
  max-width: 61rem;
  width: 61rem;
  min-width: 61rem !important;
}

.modal-md {
  max-width: 45rem;
  width: 45rem;
  min-width: 45rem !important;
  max-height: 45rem;
  height: 45rem;
  /* min-height: 45rem !important; */
}

.modal-xs {
  max-width: 45rem;
  width: 45rem;
  min-width: 45rem !important;
  max-height: 45rem;
  height: 18rem;
  /* min-height: 45rem !important; */
}

.blackBorder{
  border-color:grey
}

img:focus, img:active{
  border-style: none !important;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
}

/*TOGGLE SWITCH*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52.5px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*------ ADDED CSS ---------*/
.on
{
    display: none;
}

.on
{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 30%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

.off
{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 70%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tab-modal{
  padding:0px !important
}

.tab-modal[aria-selected=true]{
  background-color:#f2f4f8 !important;
  border-bottom-color: #f2f4f8 !important;
}

/* Product page CSS */
.top-container {
  margin-top:2.3rem;
  height: 90vh;
  padding:0px;
}

.product-body {
  background-color:#ffffff;
  border-radius: 5px;
}

.img-button {
  width:1.5rem;
  padding-bottom: 1rem
}

.puc-button {
  width:2.3rem;
  padding-bottom: 1rem;
  position: relative;
  right:0.415rem;
  bottom:0.415rem;
}


.action-icon {
  width:1.5rem;
  height: 1.5rem;
  border-radius:50%;
  position: relative;
  border-style: none !important;
  outline:none !important;
  outline-width: 0 !important;
  cursor:pointer;
  margin-left: 0.8rem; /*added*/
}

.puc-icon{
  width:1.5rem;
  height: 1.5rem;
  border-radius:50%;
  position: relative;
  border-style: none !important;
  outline:none !important;
  outline-width: 0 !important;
  cursor:pointer;
  margin-left: 0.8rem; /*added*/
}

.modal-outer-container {
  padding-top:1rem;
  background-color: #f2f4f8;
  border-style: solid;
  border-width: 1px;
  border-color:lightgrey;
  border-radius:5px
}

.modal-inner-container {
  border-radius: 5px;
  padding-top:1rem;
  padding-bottom: 1rem;
  background-color: white
}

.modal-hr {
  margin-top:0.2rem;
  border-color: #F5A847 !important;
  border-width:2px;
  margin-left: 0.9rem;
  margin-right: 0.9rem
}

.modal-input {
  background-color:white;
  font-size:15px;
}

.modal-input:disabled {
  background-color:white !important;
  font-size:15px !important;
}

.modal-col-mb{
  margin-bottom:12.8px
}

.bc-grey {
  border-color:grey
}

.sel-style {
  background-color:white;
  color:black;
  opacity:0.9;
}

.sel-style:disabled{
  background-color:white !important;
  color:black !important;
  opacity:0.9 !important;
}

.tbl-action-btn {
  position:relative;
  bottom:0.2rem;
  right:0.2rem;
  margin-right:0.5rem;
}

#details .btn-secondary{
  background-color:transparent;
  border:none;
  color:black;
  box-shadow: none !important;
}

.spinner-fields {
  margin-top:-26px;
  margin-left:50%;
  width:1rem;
  height:1rem;
  border-width:0.2rem;
}

.spinner-center{
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
}

.disable-div{
  pointer-events: none;
  opacity: 0.5;
}
/* Customer Profile */
.cp-container {
  padding-top:1rem;
  background-color: #f2f4f8
}

.cp-top-banner {
  border-radius: 5px;
  padding-top:1rem;
  padding-bottom: 0.9rem;
  max-height:20rem;
  background-color:#ffffff
}

.cp-profile {
  width:10rem;
  height:10rem;
  position:relative;
  border-radius: 50%;
  cursor: pointer;
  overflow:hidden;
  border: 2px solid #f5a847;
  /* left:1rem */
}
.plr {
  padding-left: 15px;
  padding-right: 15px;
}
.white-card {
  border-radius: 5px;
  padding-top:1rem;
  padding-bottom: 1rem;
  background-color: white
}
.cursor-info {
  /* cursor: url("./images/info.png"),default; */
  cursor: pointer;
}

.cp-profile-label{
  position: absolute;
  z-index: 999;
  top: 8rem;
  background-color: #f1f1f1;
  opacity:0;
  width: 100%;
  right: 0rem;
  padding-bottom: 5px;
  cursor:pointer;
}

.cp-image:hover ~ .cp-profile-label{
  transition: 0.2;
  opacity:0.8;
}

.cp-profile-label:hover{
  transition: 0.2;
  opacity:0.8;
}

.cp-banner-icons{
  width:1rem;
  position:relative;
  right:0.5rem;
  top:-1px;
}

.cp-banner-icons2{
  width:15px;
  position:relative;
  top:-1px;
}

.cp-pa-cont {
  border-radius: 5px;
  padding-top:1rem;
  padding-bottom: 1rem;
  min-height:15rem;
  background-color: white
}

.cp-pa-cont-sm {
  border-radius: 5px;
  padding-top:1rem;
  padding-bottom: 1rem;
  min-height:5rem;
  background-color: white
}

.fs-1 {
  font-size:1rem;
}

.fs-2{
  font-size:1.5rem;
}

.cp-hr{
  margin-top:0.2rem;
  border-color: #F5A847;
  border-width:2px
}

.cp-hr[target=true]{ /*WHEN EDIT IS TRUE*/
  margin-top:0.2rem;
  border-color:  #4f2684;
  border-width:2px
}

.cp-id-action {
  height:1.5rem;
  padding-top: 0rem;
  background-color:transparent;
  border-style:none
}

/*Spouse Profile*/
.spouse-details-cont{
  border-radius: 5px;
  padding-top:1rem;
  padding-bottom: 1rem;
  background-color:white
}
/* Placeholder Text Select Forms*/
.select-placeholder{
  position:absolute;
  top:0.4rem;
  left:0.8rem;
  color: grey
}
.focus-Select[target=true] ~ .select-placeholder{
  display:none;
  color:transparent
}


/* ID IMAGE ATTACHMENT PREVIEW*/


.imagePreviewContainer{
  display:flex;
  justify-content: center;
  background-color: lightgrey;
  height:10rem !important;
  overflow:hidden !important;
  cursor: pointer;
}

.imagePreview{
  background-color: lightgrey !important;
  object-fit: cover;
  max-width:18rem;
  cursor: pointer;
  /* max-width: 100% !important; */
  /* height:10rem !important; */
}

.imageDetails{
  opacity:0;
  position:absolute;
  bottom: 0rem;
  width:90%;
  transition: 0.2s;
  color:white;
  cursor: pointer;
}

.imageDelete{
  position:absolute;
  top:0.15rem;
  left:15rem;
  border-radius:50%;
  font-size: 1.3rem;
  color:black;
  cursor: pointer;
}

.imageDeleteContainer{
  opacity:1;
  position:absolute;
  bottom: 8.5rem;
  width:100%;
  transition: 0.2s;
  cursor: pointer;
  background-color: #F5A847;
}

.imageDelete:hover{
  background:#adadad;

}
/*
.imageDetails:hover ~ .imageDeleteContainer{
  background-color: #F5A847;
  opacity:0.9;
} */

/* .imageDeleteContainer:hover, */
/* .imagePreviewContainer:hover ~ .imageDeleteContainer{
  background-color: #F5A847;
  opacity:0.9;
} */

.imageDetails:hover,
.imagePreviewContainer:hover ~ .imageDetails{
  background-color: #4f2684;
  opacity: 0.9;
}

.spinnerAnimation{
  position:absolute;
  bottom:0.6rem;
  left:8.5rem;
  width:1rem;
  height:1rem;
  border-width:0.2rem;
}

.newCustomerSaveAnimation{
  position:absolute;
  left: 1rem;
  top:1rem;
  background-color:black;
  opacity:0.6;
  width:96.8%;
  height: 98.2%;
  border-radius:5px;
  display:flex;
  justify-content:center;
  z-index:999
}

.newCustomerSaveSpinner{
  margin-top:70%;
  width: 5rem;
  height: 5rem;
}

.login-animation{
  position:absolute;
  left: 0rem;
  top:0rem;
  width:100%;
  height:100%;
  background-color:black;
  opacity:0.6;
  display:flex;
  justify-content:center;
  z-index:999
}

.login-spinner{
  margin-top:20%;
  width: 5rem;
  height: 5rem;
}

.b-form-file label{
  padding-right:0.5rem;
  overflow: hidden;
}

.edit-button{
  width:1.2rem;
  margin-bottom: 1rem;
  position:relative;
}

.edit-icon{
  width:1.2rem;
  height: 1.2rem;
  border-radius:50%;
  position: relative;
  border-style: none !important;
  outline:none !important;
  outline-width: 0 !important;
  cursor:pointer;
  margin-right:0.5rem;
  margin-left: 0.3rem;
}

/* confirm dialog */
.vc-text {
    font-size: 16px;
}

/*LOAN ADVICES*/
.td1{
  width: 40%;
}
.td2{
  width: 40%;
}
.td3{
  width: 20%;
}
.td4{
  width: 15%
}

.td5{
  width: 5%
}

.split-dropdown{
  margin-top:0px !important;
  margin-bottom:0px !important;
}
.status-button{
  opacity:0 !important;
}
.status-button-show{
  opacity:1 !important;
}

.justify-text{
  text-align: justify
}

.right-align-text{
  text-align: right;
}

.center-align-text{
  text-align: center;
}

.hide-element{
  display:none;
}

/*MIN WIDTH*/
.min-width-fixed{
  min-width:1200px !important;
}

/*OVERWRITE BOOTSTRAP CSS*/
.modal-xl{
  min-width:1100px !important;
}

.modal{
  overflow-x:scroll !important;
}

/* nprogress background */

#nprogress .bar {
  background: #F5A847 !important;
}

.tooltip-inner {
  max-width:none;
}


/***/
.info-icon {
  cursor: pointer;
  color: #F5A847;
  opacity: .6;
  transition: opacity .3s;
}
.info-icon:hover {
  opacity: 1;
}
.card-file-upload{
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width:100%;
  height: 195px;
  padding: 0px;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  color: #ccc;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card-text{
  cursor: pointer;
  margin-top: 50px;
  font-size: 14px;
}
.fs-3{
  font-size: 3rem
}

/* navbar */
.navbar-nav .dropdown-menu{
  float: left !important;
}
.hover-file {
  top: 0px;
  width: 100%;
  height: 195px;
  position: absolute;
  text-align: center;
  opacity: 0;
  background-color: #2d2b2b;
}
.card-file-upload ~ .hover-file {
  transition: 0.2;
  opacity:0.8;
}
.hover-file:hover {
  transition: 0.2;
  opacity:0.8;
}
.card-replace {
  margin-top: 57px;
}
.file-title {
  font-size: medium;
  font-weight: bold;
  color: #fff
}
.file-replace {
  margin-top: -3px;
  font-size: 13px;
  font-weight: bold;
  color: #9e9e9e;
}
.file-remove {
  background-color: red;
  width: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.file-download {
  margin-bottom: -40px;
  margin-left: 150px;
  background-color: #28a745;
  width: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
  z-index: 999 !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer;
}
.intent-div {
  margin-top: -8px;
  font-size: 1.7rem;
}
.intent-select {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size: 15px;
  height: 30px;
  width: 71px;
  padding-top: 4px;
}
.add-btn {
  font-size: 15px;
  height: 30px;
  width: 56px;
  padding-top: 4px;
}

.table-title{
  font-size:26px; 
  font-family:'rubik';
}

.tab-loading{
  color: #4f2684
}

.card-sof-thumbnail{
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width:190px;
  height: 115px;
  padding: 0px;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  color: #bdbdbd;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.sof-thumb-container{
  height: 150px; 
  width: 100%; 
  overflow: hidden;
  padding-bottom: 5px;
}
.sof-thumb-container2{
  height: 100%; 
  width: 100%; 
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 10px;
}
.hover-bg-sof {
  background-color: rgba(0, 0, 0, 0.35);
}
div.sof-thumb-container2::-webkit-scrollbar {
  height: 4px;
}
div.sof-thumb-container2::-webkit-scrollbar-track {
  background: #ffee; 
}
div.sof-thumb-container2::-webkit-scrollbar-thumb {
  background: #F5A847; 
  border-radius: 12px;
}
div.sof-thumb-container2::-webkit-scrollbar-thumb:hover {
  background: #F5A847; 
}

.tile-dashboard{
  position: relative;
  cursor: pointer;
  /* overflow: hidden; */
  min-width: 195px;
  min-height: 195px;
  max-width: 195px;
  max-height: 195px;
  padding: 0px;
  font-size: 1rem;
  color: black;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border-bottom:0.5rem solid;
}

.tile-dashboard[positive]{
  border-bottom: 0.5rem solid lightgreen;
}

.tile-dashboard[negative]{
  border-bottom: 0.5rem solid red;
}

.tile-dashboard-spacer{
  max-width:3rem;
}

.threedot-dashboard{
  border-radius:50%;
  color:black
}

.threedot-dashboard:hover {
  box-shadow: 0px 0px 1px 5px lightgrey;
  background-color: lightgrey;
  cursor: pointer;
}


/* talk to maria */
.tile-talktomaria{
  position: relative;
  cursor: pointer;
  /* overflow: hidden; */
  width: 170px;
  height: 180px;
  padding: 0px;
  font-size: 1rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

}

.tile-talktomaria[positive]{
  border-bottom: 0.5rem solid lightgreen;
}

.tile-talktomaria[negative]{
  border-bottom: 0.5rem solid red;
}

.tile-talktomaria-spacer{
  max-width: 2.5rem;
}

.spacing-table{
  padding-top: 1rem !important;
  padding-bottom: 0.5rem !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.menu-width{
  width:15rem;
}

.table-popup{
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  padding:1rem;
  margin-bottom:1rem
}

.settings-dropdown-margin{
  margin-left:0px !important;
  margin-top:0px !important;
  margin-bottom: 0px !important;
}

.settings-dropdown{
  background-color:transparent;
  color:black;
  border:none;
  text-align: left !important;
  padding-left: 0px;
  font-size:26px; 
  font-family:'rubik';
}

.settings-dropdown:hover{
  background-color:transparent;
  color:black
}

.settings-dropdown:focus{
  background-color:transparent;
  color:black;
  border:none;
  box-shadow:none;
}

.settings-dropdown[aria-expanded="true"]{
  background-color:transparent !important;
  color:black !important
}

.settings-dropdown:active{
  background-color:transparent !important;
  color:black !important
}

.split-main, .split-main:hover, .split-main:focus, .split-main:active, .split-main[aria-expanded="true"]{
  background-color: #F5A847 !important;
  box-shadow: none !important;
  cursor: default !important;
  color: black !important;
  /* width: 7rem !important; */
}

.split-side, .split-side:hover, .split-side:focus, .split-side:active, .split-side[aria-expanded="true"]{
  background-color: #F5A847 !important;
  color: black !important;
  box-shadow: none !important;
}

.splitpuc-main, .split-puc:hover, .split-puc:focus, .split-puc:active, .split-puc[aria-expanded="true"]{
  background-color: #F5A847 !important;
  box-shadow: none !important;
  cursor: default !important;
  color: black !important;
  width: 9rem !important;
}

.splitpuc-side, .split-puc:hover, .split-puc:focus, .split-puc:active, .split-puc[aria-expanded="true"]{
  background-color: #F5A847 !important;
  color: black !important;
}

.b-table[aria-busy="true"] + .table-spinner {
  /* this assumes that the spinner component has a width and height */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* make sure spinner is over table */
}

.loading-cursor[loading]{
  cursor: progress;
}

.remove-shadow{
  box-shadow:none !important;
}

.remove-outline{
  outline: none !important;
}

.pos-center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxState {
  box-shadow: 0px 0px 0.5px 3px #dc3545
}

.radio-btn {
  height: 22px;
}

.radio-btn > label {
  padding: 1px 7px;
  font-size: 12px;
  color: #4f2684;
  border-color: #4f2684;
}

.radio-btn > label:hover {
    color: #fff;
    background-color: #4f2684;
    border-color: #4f2684;
}

.radio-btn > label.active {
  color: #fff;
  background-color: #4f2684;
  border-color: #4f2684; 
}
.radio-btn > label.focus{
  box-shadow: none;
}
.disable-radio{
  pointer-events: none;
}