.pdf-table {
  border-collapse: collapse;
}

.pdf-td, .pdf-th {
  border: 1px solid black;
  padding: 3px;
  font-size: 12px;
  text-align:center;
}

.bdiv{
  margin: 5px;
  border: 1px solid #ffffff;
  margin-top: -20px;
}

.bdivv{
  margin: 5px;
  border: 1px solid #ffffff;
  margin-top: -20px;
  font-size:14px; 
}