<template>
    <b-container fluid class="min-width-fixed" style="min-height:50rem">

        <!--Body-->
        <b-row class="mt-4 ml-4 mr-4">
            <b-col md="12" class="product-body">
                <b-container fluid class="min-width-fixed">
                    <b-row class="pb-3">
                        <b-col md="12" class="mt-2 pl-0">
                            <a class="mr-2 table-title">Residual Amount</a>
                        </b-col>
                    </b-row>
                </b-container>
                <div class="table-popup" style="padding-bottom:3rem">
                  <br>
                  <b-form-file
                  class="mb-3"
                  v-model="file1"
                  :state="null"
                  placeholder="Choose a file or drop it here..."
                  drop-placeholder="Drop file here..."
                  @input="upload()"
                  ></b-form-file>


                  <b-table hover 
                  :items="csv_data"
                  :fields="fields"
                  sort-icon-left
                  small
                  >
                  <template v-slot:cell(Loan_account)="row">
                    <div class="center-align-text">{{row.item.Loan_account}}</div>
                  </template>

                  <template v-slot:cell(Release_date)="row">
                    <div class="center-align-text">{{row.item.Release_date}}</div>
                  </template>

                  <template v-slot:cell(Maturity_date)="row">
                    <div class="center-align-text">{{row.item.Maturity_date}}</div>
                  </template>

                  <template v-slot:cell(Loan_amount)="row">
                    <div class="right-align-text">{{row.item.Loan_amount}}</div>
                  </template>

                  <template v-slot:cell(Rate)="row">
                    <div class="center-align-text">{{row.item.Rate}}</div>
                  </template>

                  <template v-slot:cell(Principal_balance)="row">
                    <div class="right-align-text">{{row.item.Principal_balance}}</div>
                  </template>

                  <template v-slot:cell(Term)="row">
                    <div class="center-align-text">{{row.item.Term}}</div>
                  </template>

                  <template v-slot:cell(Monthly_amortization)="row">
                    <div class="right-align-text">{{row.item.Monthly_amortization}}</div>
                  </template>

                  <template v-slot:cell(ECQ_months)="row">
                    <div class="center-align-text">{{row.item.ECQ_months}}</div>
                  </template>

                  <template v-slot:cell(Cut_off)="row">
                    <div class="center-align-text">{{row.item.Cut_off}}</div>
                  </template>

                  <template v-slot:cell(Residual_amount)="row">
                    <div class="right-align-text">{{row.item.Residual_amount}}</div>
                  </template>
                
                  </b-table>

                  <b-button v-if="csv_data.length > 0" class="float-right" size="sm" variant="primary" @click="unparseData()"><b-icon icon="file-earmark-arrow-down"></b-icon>  Download .CSV</b-button>
                </div>
            </b-col>
        </b-row>
      <!-- {{csv_data}} -->
    </b-container>
</template>

<script>
import Papa from 'papaparse'
import moment from 'moment';


export default {
  data(){
    return{
      file1:null,
      csv_data:[],
      fields:[
        {key:'Loan_account',label:'Loan Account', thClass:'center-align-text', sortable:true},
        {key:'Release_date',label:'Release Date', thClass:'center-align-text', sortable:true},
        {key:'Maturity_date',label:'Maturity Date', thClass:'center-align-text', sortable:true},
        {key:'Loan_amount',label:'Loan Amount', thClass:'center-align-text', sortable:true},
        {key:'Rate',label:'Rate', thClass:'center-align-text', sortable:true},
        {key:'Principal_balance',label:'Principal Balance', thClass:'center-align-text', sortable:true},
        {key:'Term',label:'Term', thClass:'center-align-text', sortable:true},
        {key:'Monthly_amortization',label:'Monthly Amortization', thClass:'center-align-text', sortable:true},
        {key:'ECQ_months',label:'ECQ Months', thClass:'center-align-text', sortable:true},
        {key:'Cut_off',label:'Cut off', thClass:'center-align-text', sortable:true},
        {key:'Residual_amount',label:'Residual Amount', thClass:'center-align-text', sortable:true},
      ],

    }
  },

  methods:{
    upload(){
      // alert('asd')
      console.log(this.file1)
      let call = this
      Papa.parse(this.file1, {
        header: true,
        complete: function(rows) {
          // call.csv_data = rows.data
          var arr_data = rows.data

          arr_data.forEach(function(e){
            if (typeof e === "object" ){
                e["Residual_amount"] = ""
            }
          });
          
          
          console.log(actual_limit)
          // console.log(arr_data.length)
          for(let i = 0; i < arr_data.length; i++){
            //INITIATE VALUES
            let limit1 = arr_data[i].Cut_off.split("/")
            let limit2 = arr_data[i].Maturity_date.split("/")
            let limit_year = limit2[2] - limit1[2] 
            var actual_limit = (parseInt(limit2[0]) + parseInt((limit_year * 12))) - parseInt(limit1[0]) // NO OF MONTHS NO ECQ
            let outstanding_principal = arr_data[i].Principal_balance.replace(/,/g, ''); // OUTSTANDING PRINCIPAL
            let monthly_amo = arr_data[i].Monthly_amortization.replace(/,/g, ''); //MONTHLY AMO
            let rate = arr_data[i].Rate.split("%") //RATE
            let interest = 0
            let principal = 0
            let cut_off = arr_data[0].Cut_off.split("/")
            let ecq = arr_data[i].ECQ_months
            var starting_date = new Date(parseInt(cut_off[2]), parseInt(cut_off[0]) + 1, 0);
            var total_months = parseInt(actual_limit) + parseInt(ecq)

              for(let j = 0; j < total_months; j++){
                // FOR INTEREST
                let var1 = call.addDate(starting_date)
                let split_date = var1.split("/")
                starting_date = new Date(parseInt(split_date[2]), parseInt(split_date[0]) + 1, 0);
                interest = outstanding_principal * (split_date[1] / 360) * (rate[0] / 100)
                //END INTEREST

                if( j < actual_limit){
                  principal = monthly_amo - interest // PRINCIPAL
                  console.log('greater')
                } else if ( j >= actual_limit) { 
                  principal = monthly_amo
                  console.log('lesser')
                }
                outstanding_principal = outstanding_principal - principal

                // console.log("OUTSTANDING PRINCIPAL", outstanding_principal)

                outstanding_principal = Math.round((outstanding_principal + Number.EPSILON) * 100) / 100
                arr_data[i].Residual_amount = call.numberWithCommas(outstanding_principal)

              }
          }
            console.log(arr_data)
            call.csv_data = arr_data
            // call.unparseData(call.csv_data)
        }
      });
    },

    unparseData(){
      var blob = new Blob([Papa.unparse(this.csv_data)], { type: 'text/csv;charset=utf-8;' });

      var link = document.createElement("a");

      var url = URL.createObjectURL(blob);
      link.setAttribute("href", url);
      link.setAttribute("download", 'Residual Amount.csv');
      link.style.visibility = 'hidden';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },

    numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },

    addDate: function(date){
      var m = moment(date)
      // m.add(1, 'months')
      return m.format('MM/DD/YYYY')
      // return m
    },
    subtractDate: function(date){
      var m = moment(date)
      m.subtract(1, 'months')

      return m.format('MM/DD/YYYY')
      // return date
    },
  }
}
</script>




<style lang="scss">

@import './assets/_custom.scss';
// Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../node_modules/bootstrap-vue/src/index.scss';

</style>

<style>

@import './assets/app.css';
@import './assets/toast.css';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
